albucore
albumentations
annotated-types
certifi
charset-normalizer
colorama
coloredlogs
contourpy
cycler
cython
decorator
easydict
eval_type_backport
flatbuffers
fonttools
humanfriendly
idna
imageio
imageio-ffmpeg
insightface
joblib
kiwisolver
lazy_loader
matplotlib
moviepy
mpmath
networkx
numpy
onnx
onnxruntime-directml
onnxruntime-gpu
opencv-python
opencv-python-headless
packaging
pillow
prettytable
proglog
protobuf
pydantic
pydantic_core
pyparsing
pyreadline3
python-dateutil
python-dotenv
pyYAML
requests
scikit-image
scikit-learn
scipy
six
stringzilla
sympy
threadpoolctl
tifffile
tqdm
typing-inspection
typing_extensions
urllib3
wcwidth
