numpy>=2,<3
ml_dtypes==0.6.0
opencv-python
onnxruntime-gpu
onnx
insightface
moviepy
requests
tqdm
pillow
pydub>=0.25.1
audioop-lts; python_version >= "3.13"
imageio-ffmpeg
openai
huggingface_hub
scikit-image
scikit-learn
scipy
